* {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
}
.container{
max-width: 1336px;
display: flex;
flex-direction: column;
justify-content: center;
}
body {
    background-color: var(--azul-escuro);
}