:root{
--cinza--escuro:#343839;
--azul-escuro:#015F6B;
--azul-escuro2:#008B9E;
--azul-claro:#00B4CB;
--azul-claro2:#00E0FC;
--branco--normal:#FFFFFF;
}
.cabecalho{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    width:39px;
}
.logo{
    width: 30px;
}
.perfil{
    width:41px;
}
@media screen and (min-width:786px) {
    .logo{
        width: 50px;
    }
    .perfil{
        width: 64px;
    }
    .menu{
        width: 64px;
    }
}