
.formulario_input {
    background-color: #008b9e;
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
    font-weight: bold;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 1px solid transparent;
    font-size: 1rem;
}

.formulario input:focus {
    border-color: #FFFFFF;
}

@media screen and (min-width:786px) {

    .imagemPerfil {
        width: 200px;
    }

    .formulario input {
        height: 60px;
        font-size: 1.5rem;
    }

    .formulario label {
        font-size: 1.5rem;
    }

    .salvar {
        padding: 1rem;
        font-size: 2rem;
    }
}