
.menu--escondido {
    top: -100vw;
    transition: 0.6s;
}

.menu--ativo {
    top: 0;
    transition: 0.6s;
}
@media screen and (min-width:786px) {
    .opcao {
        font-size: 1.4rem;
        display: flex;
        width: 194.3px;
        padding-bottom: 10px;
    }
}