.noticias{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 22px;
    color: var(--branco--normal);
}

.foto__noticia{
    width: 296px;
    border-radius: 30px;
}
.primeira__noticia,.segunda__noticia,.terceira__noticia{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    font-weight: bold;
}
.invisivel{
    display: none;
}