.noticias{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 22px;
    color: var(--branco--normal);
    background-image: url(../assets/gotas.svg);
    background-repeat: repeat-x;
    background-position-x: 100vw;
}

.foto__noticia{
    width: 296px;
    border-radius: 30px;
}
.primeira__noticia,.segunda__noticia,.terceira__noticia{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    font-weight: bold;
    text-decoration:none;
    color: var(--branco--normal);
}
.invisivel{
    display: none;
}
.primeira__noticia:hover,.segunda__noticia:hover,.terceira__noticia:hover{
    color: var(--azul-claro);
    transition: 0.5s;
}
